APScheduler==3.6.3
Click==7.0
Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
certifi==2021.10.8
chardet==3.0.4
idna==2.9
pytz==2020.1
requests==2.28.1
six==1.15.0
tzlocal==2.1
urllib3==1.26.12
websocket-client==0.57.0
selenium==4.4.3
-e .